[user]
    name = Patryk Gronkiewicz
    email = patryk@gronkiewicz.xyz

[alias]
    uncommit = reset --soft HEAD
    unstage = reset
    s = status
    cm = commit -m
    co = checkout
    cob = checkout -b
    del = branch -D
    br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
    save = !git add -A && git commit -m 'chore: commit save point
    lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30

[color]
    ui = true

[core]
    autocrlf = input

[diff]
    mnemonicprefix = true
    editor = nvimdiff
[difftool]
    prompt = true
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
